@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input::placeholder {
  font-weight:normal;
}


body {
  background: #f5f5f5;
  font-size: 16px;
}
input, textarea, button {
  font-size: 1em;
  outline: none;
  appearance: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
